*{
    margin: 0px;
    padding: 0;

    
}

#navbarMonstera{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    margin: 20px;  
    align-items: center;
    
}
#navFirst{
    margin-left: 30px;
    padding: 10px;
}
#navMid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    width: 50%;
    font-size: 20px;
    font-family: "Allerta";
    color: rgb(42, 42, 43); 
}
#navMid>:first-child{
    text-decoration: underline;
}
#navEnd{
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: space-around;
}
#midWhole{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80% ;
    flex: 2;
}

#midWholePart1{
    display: flex;
    flex: 1;
    min-height: 100%;
    margin-left: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 150px;
    justify-content: space-between;
}
#midWholePart11{
    width: 70%;
    height: 40%;
    justify-content: flex-end;
    align-items: center;
}

ul{
    list-style-type: disc;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Allerta";
    font-weight: 100;

}
#monstera{
    font-size: 120px;
    font-family: "Allerta";
    font-weight: 900;
}


#midWholePart12{
    display: flex;
    align-items: center;
    width: 100%;
   
}
#midWholePart121{
    background-color: rgb(68, 112, 24);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 220px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(68, 112, 24) ;
    border-radius: 50px;
    margin-left: 10px;
    padding: 10px;
}

#midWholePart13{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.midWholePart13Parts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.midWholePart13Parts h4 {
    font-weight: 900; 
    
}
.text{
    color: rgb(0, 0, 0);
}